// Colors
$dark-grey: #333;
$grey: #888;
$light-grey: #cacccd;
$dark-blue: #364051;
$light-blue: #1c88bf;
$off-white: #f7f7f7;

// Font size
$font-l-size: 1.8rem;
$font-s-size: 1.4rem;

// Spacing
$xxs-size: .1rem;
$xs-size: .3rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$mm-size: 2rem; 
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 6rem;
$desktop-breakpoint: 45rem;
$off-desktop-breakpoint: 44.99rem;